
.main
  .main__headr
    .leftheader
      .leftheader__groupname 
        =@group.name
      %ul.leftheader__memberlist 
        Member:
        %li masao
        %li kirin
        %li sonshi
    .rightheadr
      %div= link_to "Edit", edit_group_path(@group), class: "rightheadr__editbtn" 

  .main__body 
    .message
      = render @messages
  
  .main__form
    = form_for [@group, @message], :html =>{:class => "newmessage"}  do |f|
      .newmessage__inputbox
        = f.text_field :content, class: 'inputtext', placeholder: 'type a message'
        = f.label :image, class: 'inputimage' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'inputimage__filebtn'
      = f.submit 'Send', class: 'newmessage__submitbtn'